<div class="content" style="background-color: #FFFFFF; ">
  <div class="m-4">
    <div class="d-flex justify-content-between">
      <div class="addingNewRoleUser">Users</div>
      <a [routerLink]="['/home/userComponent/addUser']" class="addNewRoleAndUserButton"><i class="fa-light fa-plus"></i>
        Add new user</a>
      <!-- <a 
   [routerLink]="['/home/userComponent/addUser']">click</a> -->
    </div>
    <hr>
    <!-- <div style=" display: flex;  justify-content: right;">
      <button matTooltip="Excel" class="export-button" color="primary" (click)="ExportTOExcel()">Download As </button>
</div> -->
</div>
<div class="ml-4 mr-4">
  <div class="m-4 search-button">
    <div class="row ">
        <div  class="input-group">
          <input style="width: 10%; height: 45px;"  class="form-control py-2 border-right-0 border" type="search" value="search"
            id="example-search-input" matInput placeholder="Search" [(ngModel)]="searchText"
            (input)="applyFilter()">
          <span class="input-group-append">
            <div style="height: 45px;" class="input-group-text bg-transparent form-control"><i class="fa fa-search"></i></div>
          </span>
      </div>
    </div>
    <div class="row">
        <div>
          <button matTooltip="Excel" class="export-button " (click)="exportAsExcelFile('excel')">Download As </button>
      </div>
    </div>
  </div>
</div>

    <!-- <div>{{data[0]}}</div>  -->
    <div class="example-container table-margin" #Table>
      <mat-table class="mat-table" #table [dataSource]="dataSource" multiTemplateDataRows matSort>
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns1">
          <mat-header-cell style="background-color: #F4F4F4;" *matHeaderCellDef mat-sort-header> {{column}}
          </mat-header-cell>
          <mat-cell *matCellDef="let element ">
            <span class="mobile-label">{{column}}:</span> {{element[column]}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell style="background-color: #F4F4F4;" *matHeaderCellDef> Delete/Edit </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <span class="mobile-label">Delete/Edit:</span>
            <button mat-icon-button class="matIconButton" matTooltip="Edit" (click)=" editRow(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="matIconButton" matTooltip="Delete" (click)="openDialogOfDelete(element)"
              [class.expanded]="expandedElement == element" (click)="expandedElement = element">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row style=" overflow: hidden; text-overflow: ellipsis; word-break: break-word; " mat-header-row
          *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row style=" overflow: hidden; text-overflow: ellipsis; word-break: break-word; "
          *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"></mat-row>
      </mat-table>
      <mat-paginator class="paginator" #paginatorPageSize pageSize="6" showFirstLastButtons></mat-paginator>
    </div>
  </div>